<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .container {
            width: 302px;
            height: 175px;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            margin: auto;
        }

        #number,
        #verificationcode {
            width: calc(100%-24px);
            padding: 10px;
            font-size: 20px;
            margin-bottom: 5px;
            outline: none;
        }

        .recaptcha-container {
            margin-bottom: 5px;
        }

        #send,
        #verify {
            width: 100%;
            height: 40px;
            outline: none;
        }

        .p-conf,
        .n-cof {
            width: calc(100%-22px);
            border: 2px solid green;
            border-radius: 4px;
            padding: 8px 10px;
            margin: 4px 0px;
            background-color: rgba(0, 249, 12, 0.5);
            display: none;
        }

        .n-cof {
            border-color: red;
            background-color: rgba(255, 0, 4, 0.5);

        }

        .otpf {
            color: red;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="sender">
            <input type="text" id="number" placeholder="+923...">

            <div id="recaptcha-container"></div>
            <input type="button" id="send" value="send" onclick="phoneAuth()">
        </div>

        <div id="verifier">
            <input type="text" id="verificationcode" placeholder="OTP Code">
            <input type="button" id="verify" value="verify" onclick="codeverify() ">
            {{#if mOtp}}
            <script>
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "OTP Send to Your Mobile",
                    showConfirmButton: false,
                    timer: 1500
                });
            </script>
            {{/if}}
            {{#if mOtpf}}
            <p class="otpf">Wrong OTP!!</p>
            {{/if}}
        </div>
    </div>


    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyB1XUK9gm4GGNLE6tZK6-dcBYc199K6FEQ",
            authDomain: "smarthome-84377.firebaseapp.com",
            projectId: "smarthome-84377",
            storageBucket: "smarthome-84377.appspot.com",
            messagingSenderId: "871087542048",
            appId: "1:871087542048:web:5f284129986567f4d1d145",
            measurementId: "G-364WB53VG1"
        };
        firebase.initializeApp(firebaseConfig);

        render();
        function render() {
            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
            recaptchaVerifier.render();
        }

        // function for send OTP
        function phoneAuth() {
            var number = document.getElementById('number').value;
            firebase.auth().signInWithPhoneNumber(number, window.recaptchaVerifier).then(function (confirmationResult) {
                window.confirmationResult = confirmationResult;
                coderesult = confirmationResult;

                document.getElementsByClassName('sender')[0].style.display = 'block';
                document.getElementsByClassName('verifier')[0].style.display = 'none';

            }).catch(function (error) {
                // error in sending OTP
                alert(error.message);
            });
        }

        // function for OTP verify
        function codeverify() {
            var code = document.getElementById('verificationcode').value;
            coderesult.confirm(code).then(function () {
                window.location.href = '/users';
            }).catch(function () {
                console.error('Verification failed:', error);

            })
        }
    </script>

</body>

</html>